<h1>Gráficas Dobles</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    Gráfica 1
    <app-grafica-barra [barChartData]="barChartData" [barChartLabels]="barChartLabels"
      [barChartOptions]="barChartOptions" [barChartLegend]="true" [barChartType]="barChartType">
    </app-grafica-barra>
  </div>
  <div class="col-md-6">
    Gráfica 2
    <app-grafica-barra [barChartData]="barChartData2" [barChartLabels]="barChartLabels2"
      [barChartOptions]="barChartOptions" [barChartLegend]="true" [barChartType]="horizontalBarChartType">
    </app-grafica-barra>
  </div>
</div>
